.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Oswald", sans-serif;
}
.main__about {
  font-size: calc(20px + 15 * (100vw / 1280));
  /*2.2em*/
  text-align: justify;
  width: 43%;
}
.main .splide {
  background: #474854;
  border-radius: 8px;
}
.main .splide__slide img {
  border-radius: 8px;
  border: 3px solid #eef5ae;
}

@media (max-width: 1273px) {
  .main .splide {
    max-width: 43% !important;
  }
}
@media (max-width: 1138px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .splide {
    max-width: 60% !important;
  }
}
@media (max-width: 992px) {
  .main .splide {
    margin-bottom: 2%;
  }
}
@media (max-width: 767px) {
  .main__about {
    width: 80%;
    font-size: calc(20px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280));
  }
  .main .splide__slide img {
    height: 18vh !important;
  }
}